.input-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-players-values {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 25rem;
  width: 300px;
  margin: auto;
}

.container-players-values [class^="ListItem_list-item"] {
  cursor: pointer;
}