.list-item-large {
  background-color: #2a253d;
  width: 100%;
  min-height: 40px;
  padding: 0 10px;
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.list-item-large > * {
  text-align: left;
}

.list-item-large > *:last-child {
  padding-left: 1rem;
}
