body {
  color: #dadada;
  background: #100e17;
  font-family: "Open Sans", sans-serif;
}

html {
  height: 100%;
  background: #100e17;
}

.townsfolk {
  color: rgb(8, 193, 255);
}

.outsider {
  color: rgb(23, 104, 255);
}

.minion {
  color: rgb(248, 2, 5);
}

.demon {
  color: rgb(197, 0, 0);
}

.traveller {
  color: rgb(154, 77, 159);
}

.fabled {
  color: rgb(168, 153, 50);
}

.green {
  color: #988f2a;
}

.red {
  color: #f8533a;
}

.flex {
  display: flex;
}
.ai-center {
  align-items: center;
}

.h-auto {
  height: auto;
}

svg {
  stroke-width: 3;
}
